# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
web_app/frontend/dist/

# Data & models
data/
*.pth
!inference/dummy_model_state_dict.pth

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
